@use '../helpers' as *;

.pagination {
    display: flex;
    align-items: center;

    &__button {
        @include flex-center(true);

        padding: rem(10);
        border: none;
        background-color: transparent;

        @include hover {
            &::before {
                @include square(rem(14));
            }
        }

        &::before {
            @include square(rem(8));

            content: '';
            border-radius: 50%;
        }

        &.is-active {
            pointer-events: none;

            &::before {
                @include square(rem(14));
            }
        }

        &:nth-of-type(4n + 1) {
            &::before {
                background-color: var(--color-orange);
            }
        }

        &:nth-of-type(4n + 2) {
            &::before {
                background-color: var(--color-light-blue-alt);
            }
        }

        &:nth-of-type(4n + 3) {
            &::before {
                background-color: var(--color-blue-alt);
            }
        }
        
        &:nth-of-type(4n + 4) {
            &::before {
                background-color: var(--color-pink-alt3);
            }
        }
    }
}