@use '../helpers' as *;

.reviews {
    padding-block: fluid(140, 50);

    &__header {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: fluid(83, 30);
        row-gap: rem(7);
    }

    &__text {
        font-size: fluid(19, 14);
        line-height: 1.6;
        text-align: center;
    }

    &__slider {
        display: grid;
        grid-template-columns: auto 1fr auto;
        grid-template-areas:
            'prev slider next'
            '. pagination .';
        gap: fluid(58, 10) fluid(113, 10);
        padding-inline: fluid(73, 10);

        @include mobile-s {
            grid-template-columns: repeat(2, auto);
            grid-template-areas:
                'slider slider'
                'prev next'
                'pagination pagination';
        }

        &-list {
            display: flex;
            column-gap: 4vw;
            grid-area: slider;

            @include mobile {
                justify-content: center;
            }
        }

        &-button {
            --size: #{rem(44)};

            @include square(var(--size));
            @include flex-center;
            
            align-self: center;
            border: none;
            border-radius: var(--border-radius);
            background-color: transparent;

            @include hover {
                background-color: var(--color-pink-alt);
            }

            @include mobile-s {
                justify-self: center;
            }

            &::after {
                content: '';
                width: rem(11);
                height: rem(17);
                background: url('../../assets/icons/arrow_left_blue.svg') center/contain no-repeat;
            }

            &--prev {
                grid-area: prev;
            }
            
            &--next {
                grid-area: next;

                &::after {
                    rotate: 180deg;
                }
            }
        }

        .pagination {
            grid-area: pagination;
            justify-self: center;
        }
    }

    &__card {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: fluid(33, 15);
        min-height: rem(340);
        max-width: rem(380);

        @include tablet {
            min-height: rem(310);
        }
        
        @include mobile {
            min-height: rem(280);
        }

        &-quote-image {
            --size: #{rem(140)};

            @include square(var(--size));

            position: relative;

            @include tablet {
                --size: #{rem(120)};
            }

            @include mobile {
                --size: #{rem(100)};
            }

            &::after {
                --quouteIconSize: 26%;

                @include square(var(--quouteIconSize));

                content: '';
                position: absolute;
                top: 0;
                right: 0;
                border-radius: rem(4);
                background: url('../../assets/icons/quote_icon.svg') center/44% no-repeat var(--color-blue);
            }
        }

        &-image {
            @include square(100%);

            border-radius: 50%;
        }

        &-body {
            display: flex;
            flex-direction: column;
            row-gap: rem(7);
            align-items: center;
            flex-grow: 1;
            text-align: center;

            .subtitle {
                margin-top: auto;
            }
        }
    }
}