@use '../helpers' as *;

.services-info {
    padding-block: fluid(150, 50);

    &__cards {
        --columns: 3;

        display: grid;
        grid-template-columns: repeat(var(--columns), 1fr);
        gap: rem(30);
        margin-bottom: fluid(152, 50);

        @include tablet {
            --columns: 2;
        }

        @include mobile {
            --columns: 1;
        }
    }

    &__card {
        display: flex;
        flex-direction: column;
        align-items: start;
        row-gap: rem(28);

        @include mobile {
            row-gap: rem(15);
        }

        &-image {
            border-radius: var(--border-radius);
            width: 100%;
        }

        &-body {
            display: grid;
            row-gap: rem(7);
        }

        &--list {
            row-gap: rem(40);

            @include mobile {
                row-gap: rem(15);
                align-items: center;
            }
        }

        &-list {
            display: grid;
            row-gap: rem(10);
        }

        &-item {
            display: flex;
            align-items: center;

            &::before {
                content: '';
                width: rem(30);
                height: rem(11);
                background: url('../../assets/icons/list_style_plus_icon.svg') center/contain no-repeat;
            }
        }

        &--schedule {
            align-items: stretch;
            row-gap: 0;

            @include tablet {
                grid-column: -1 / 1;
            }
        }
    }

    &__call-us-link {
        @include fluid-text(20, 16);
        @include flex-center;
        @include link-hover;

        width: 100%;
        height: fluid(81, 60);
        color: var(--color-light);
        background-color: var(--color-blue);
        font-family: var(--font-family-accent);
        font-weight: 600;
        line-height: 1.25;
        border-radius: 0 0 var(--border-radius) var(--border-radius);
        text-decoration: none;
    }

    &__overview {
        --columns: 3;

        display: grid;
        grid-template-columns: repeat(var(--columns), 1fr);
        gap: rem(75) rem(35);

        @include tablet {
            --columns: 2;
            column-gap: rem(15);
        }

        @include mobile {
            --columns: 1;
            row-gap: rem(30);
        }

        &-card {
            display: flex;
            column-gap: rem(28);
            align-items: center;

            &-image {
                --size: #{rem(97)};

                @include square(var(--size));

                @include mobile {
                    --size: #{rem(75)};
                }
            }

            &-body {
                display: grid;
                row-gap: rem(10);
            }
        }
    }
}